
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee management system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<style>
.button { text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>

<!-- navabar-->
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% static '#' %}">
  Bootstrap
  </a>
</nav>
<!-- -->


<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container-fluid">
  <div class="row" style= 'min-height: 700px;'>
    <div class="col-sm-1 test" style="background-color: darkgray;
    border-radius: 14px;">

<br>
   <div class="sidebar">
  <a class="active"  href="{% url 'index' %}" style="text-decoration: auto;">Dashboard</a>
  <a class="passive" href="{% url 'employee' %}" style="text-decoration: auto;">Employee</a>
<!--  <a href="#contact">Contact</a>-->
<!--  <a href="#about">About</a>-->
</div>







    </div>








    <div class="col-sm-11"  style="min-height:600px;">



         <div class="p-5 bottom-radious bg-light shadow-lg" style="min-height:600px;">
              <h1  class="display-four" style="background-color: darkgray;
    border-radius: 14px;">Employee Maganement System</h1>
              <p class="lead"></p>
              <hr class="my-2">
                    <div>
<div class="button">
<table>
  <tr>
    <th>Name</th>
    <th>Total Working hr/day</th>

  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
</table>
    </div>



                    </div>




                </div>


    </div>
  </div>
</div>
<footer class="bg-light text-center text-sm-start">
  <!-- Copyright -->
<!--    <p class="text-dark" style="text-align: center;"></p>-->
  <!-- Copyright -->
</footer>
</body>
<script>
</script>
</html>













